
<section class="main-slider">
  <ul class="anim-slider" id="main-slider">
    <li class="anim-slide" style="background:url(assets/images/content/main-slider/img-1.jpg);background-size:cover;">
      <h2>Our mission</h2>
      <p>
        To continue to be the dominant media partner, to the creative
        and preservation industries, indentifying and offering best solutions,
        services and support. To be the destination of medias projects, designing,
        managing and supporting the needs of our customers.
        
      </p>
    </li>
    <li class="anim-slide" style="background:url(assets/images/content/main-slider/img-1.jpg);background-size:cover;">
      <h2>Our mission</h2>
      <p>
        To continue to be the dominant media partner, to the creative
        and preservation industries, indentifying and offering best solutions,
        services and support. To be the destination of medias projects, designing,
        managing and supporting the needs of our customers.
        
      </p>
    </li>
    <nav class="anim-arrows"><span class="anim-arrows-prev"></span><span class="anim-arrows-next"></span></nav>
  </ul>
</section>