
<div class="second-menu">
  <div class="container">
    <div class="second-menu__logo"><a><img src="assets/images/icons/logo.png"/></a></div>
    <ul class="second-menu__container">
      <li class="second-menu__item"><a href="#">About us</a></li>
      <li class="second-menu__item"><a href="#">Partners</a></li>
      <li class="second-menu__item"><a href="#">Activities</a></li>
      <li class="second-menu__item"><a href="#">Exhibitors</a></li>
      <li class="second-menu__item"><a href="#">Contact us</a></li>
    </ul>
  </div>
</div>