- var item = ['CTM Group', 'CTM Solutions', 'CTM Location', 'CTM Audio', 'CTM Solutions', 'CTM Location', 'CTM Audio'];
.drop-menu
    .drop-menu__content
        .container
            .row.drop-menu__head
                .col-6
                    img(src='assets/images/icons/logo-2.png')
                .col-6.text-right
                    a.drop-menu__close(href='#')

            .row
                .col-3
                    .drop-menu__item
                        h4.drop-menu__title CTM Group
                        .drop-menu__description
                            p.
                                Your Media Partner
                        ul
                            li
                                a(href='#').
                                    About us
                            li
                                a(href='#').
                                    Partners
                            li
                                a(href='#').
                                    Activities
                            li
                                a(href='#').
                                    Exhibitors
                            li
                                a(href='#').
                                    Contact us
                .col-3
                    .drop-menu__item
                        h4.drop-menu__title CTM Solutions
                        .drop-menu__description
                            p.
                                Audiovisual Consulting <br>
                                & Integration
                        ul
                            li
                                a(href='#').
                                    About us
                            li
                                a(href='#').
                                    Activities
                            li
                                a(href='#').
                                    Partners
                            li
                                a(href='#').
                                    Contact us
                .col-3
                    .drop-menu__item
                        h4.drop-menu__title CTM Location
                        .drop-menu__description
                            p.
                                Your rental partner
                        ul
                            li
                                a(href='#').
                                    About us
                            li
                                a(href='#').
                                    Activities
                            li
                                a(href='#').
                                    Partners
                            li
                                a(href='#').
                                    Contact us
                .col-3
                    .drop-menu__item
                        h4.drop-menu__title CTM Audio
                        .drop-menu__description
                            p.
                                Sound as art
                        ul
                            li
                                a(href='#').
                                    About us
                            li
                                a(href='#').
                                    Activities
                            li
                                a(href='#').
                                    Partners
                            li
                                a(href='#').
                                    Contact us
            .row
                .col-3
                    .drop-menu__item
                        h4.drop-menu__title CTM Debrie
                        .drop-menu__description
                            p.
                                Manufacturer of <br>
                                film equipment's
                        ul
                            li
                                a(href='#').
                                    About us
                            li
                                a(href='#').
                                    Activities
                            li
                                a(href='#').
                                    Partners
                            li
                                a(href='#').
                                    Contact us
                .col-3
                    .drop-menu__item
                        h4.drop-menu__title Ninsight
                        .drop-menu__description
                            p.
                                Editor of software <br>
                                solutions
                        ul
                            li
                                a(href='#').
                                    About us
                            li
                                a(href='#').
                                    Activities
                            li
                                a(href='#').
                                    Partners
                            li
                                a(href='#').
                                    Contact us
    .mobile-menu
        .container
            .row
                .col-12
                    .mobile-menu__close
                        a(href='#') Menu

                    .mobile-menu__content
                        ul
                            li.has-child
                                a(href='#') CTM Group
                                ul.child-item
                                    li
                                        a(href='#') About us
                                    li
                                        a(href='#') Partners
                                    li
                                        a(href='#') Activities
                                    li
                                        a(href='#') Exhibitors
                                    li
                                        a(href='#') Contact us


                            li.has-child
                                a(href='#') CTM Audio
                                ul.child-item
                                    li
                                        a(href='#') About us
                                    li
                                        a(href='#') Partners
                                    li
                                        a(href='#') Activities
                                    li
                                        a(href='#') Exhibitors
                                    li
                                        a(href='#') Contact us

                            li.has-child
                                a(href='#') CTM Solutions
                                ul.child-item
                                    li
                                        a(href='#') About us
                                    li
                                        a(href='#') Partners
                                    li
                                        a(href='#') Activities
                                    li
                                        a(href='#') Exhibitors
                                    li
                                        a(href='#') Contact us
                            li.has-child
                                a(href='#') CTM Location
                                ul.child-item
                                    li
                                        a(href='#') About us
                                    li
                                        a(href='#') Partners
                                    li
                                        a(href='#') Activities
                                    li
                                        a(href='#') Exhibitors
                                    li
                                        a(href='#') Contact us
                            li.has-child
                                a(href='#') Debrie
                                ul.child-item
                                    li
                                        a(href='#') About us
                                    li
                                        a(href='#') Partners
                                    li
                                        a(href='#') Activities
                                    li
                                        a(href='#') Exhibitors
                                    li
                                        a(href='#') Contact us
                            li.has-child
                                a(href='#') Ninsight
                                ul.child-item
                                    li
                                        a(href='#') About us
                                    li
                                        a(href='#') Partners
                                    li
                                        a(href='#') Activities
                                    li
                                        a(href='#') Exhibitors
                                    li
                                        a(href='#') Contact us
                    .mobile-menu__line

                    .mobile-menu__nav
                        ul
                            li
                                a(href='#about-us') About us
                            li
                                a(href='#partners') Partners
                            li
                                a(href='#activities') Activities
                            li
                                a(href='#exhibitors') Exhibitors
                            li
                                a(href='#contact-us') Contact us