section.main-slider
    div.owl-carousel.owl-theme(id='main-slider')
        div.main-slider__item
            .anim-slide__bgr(style='background:url(assets/images/content/main-slider/img-1.jpg);background-size:cover;')
            .container
                h2(data-animation-in="fadeInDown") PRESERVE YOUR MEDIA
                p(data-animation-in="fadeInUp").
                    CTM Andre Debrie offers a complete range of film
                    equipment: inspection and rewinding tables, traditional
                    and digital viewing table, cleaning machines, restoration
                    equipment and scanners.
        //div.main-slider__item
        //    .anim-slide__bgr(style='background:url(http://mirpozitiva.ru/uploads/posts/2016-08/1472042512_05.jpg);background-size:cover;')
        //    .container
        //        h2(data-animation-in="fadeInDown") Our mission
        //        p(data-animation-in="fadeInUp").
        //            To continue to be the dominant media partner, to the creative
        //            and preservation industries, indentifying and offering best solutions,
        //            services and support. To be the destination of medias projects, designing,
        //            managing and supporting the needs of our customers.
        //
        //div.main-slider__item
        //    .anim-slide__bgr(style='background:url(http://i.wallpic.net/1/1cb9/belyy-bmw-m5-s-dvumya-drugimi-avto-na-gonochnoy-trasse_1366x768.jpg);background-size:cover;')
        //    .container
        //        h2(data-animation-in="fadeInDown") Our mission
        //        p(data-animation-in="fadeInUp").
        //            To continue to be the dominant media partner, to the creative
        //            and preservation industries, indentifying and offering best solutions,
        //            services and support. To be the destination of medias projects, designing,
        //            managing and supporting the needs of our customers.