.product.wow.fadeInUp.animated(data-wow-delay="0.5s")
    .product__img
        img(src='assets/images/content/product/img-1.jpg')
    .product__title.
        Processing machine
    .product__title.product__title--sec.
        MINIPLEX
    .product__description
        ul
            li Negative - Positive – Black & white
            li Demand drive or sprocket drive
            li Low pressure on the film > higher quality
            li Neutral axis > Better reliability
            li Fully computerized > control of every parameter
            li Tension pneumatic system
