section.products(id="products" data-seotitle="CTM GROUP Business units" data-seourl="production.html" data-seodescription="TM GROUP Business units" data-seokeywords="TM GROUP Business units")
    .container
        .row
            .col-4.col-md-12
                include product
            .col-4.col-md-12
                include product
            .col-4.col-md-12
                include product

            .col-4.col-md-12
                include product
            .col-4.col-md-12
                include product
            .col-4.col-md-12
                include product


        .row
            button.btn.btn__download.wow.fadeInUp.animated(data-wow-delay="0.5s") Download full product sheet
