section.specificsations(id="specificsations-1" data-seotitle="CTM GROUP Business units" data-seourl="production.html" data-seodescription="TM GROUP Business units" data-seokeywords="TM GROUP Business units")
    .container
        .row
            .col-12
                h3.specificsations__title Technical specifications

        .row
            .col-4.col-md-12
                h4.specificsations__nameUl Film types and formats
                ul.specificsations__ul
                    li.specificsations__li
                        span Negative, Intermediate, Interpositive,
                    li.specificsations__li
                        span Print, color or B&W.
                    li.specificsations__li
                        span 8/S8 – 16/S16 – 35/S35 mm
                    li.specificsations__li
                        span 9.5 – 17.5 – 28 mm (option)

                h4.specificsations__nameUl Light source and scanning system
                ul.specificsations__ul
                    li.specificsations__li
                        span Integrating sphere
                    li.specificsations__li
                        span Cool LED light source .
                    li.specificsations__li
                        span Real-time digitization in 25 p/s for 2K
                    li.specificsations__li
                        span Speed rewind: 4 times of real speed
                    li.specificsations__li
                        span Ballistic Following Scanning (BFS®) of the frame
                    li.specificsations__li
                        span Exposure time in front of the camera =0,004 seconde
                    li.specificsations__li
                        span Increasing the time of exposure in comparison with the flash systeme (Exposure time Flash system 400 times smaller)
                    li.specificsations__li
                        span Ultra low noise camera with Bayer pattern
                    li.specificsations__li
                        span High resolution lenses
                    li.specificsations__li
                        span Ratio: 4:3 – 16:9 – 1.85
                    li.specificsations__li
                        span Self-adjusting motorized frame size and focus 2, 3, 4 perforation in 35mm

                    h4.specificsations__nameUl Sound readers (see options)
                    ul.specificsations__ul
                        li.specificsations__li
                            span Optical sound reader COMMOPT, all format types
                        li.specificsations__li
                            span Magnetic sound reader COMMAG or SEPMAG, all format types
                        li.specificsations__li
                            span Synchronization with a double-tape reader by bi-phase signal


            .col-4.col-md-12
                    h4.specificsations__nameUl Output and format
                    ul.specificsations__ul
                        li.specificsations__li
                            span Progressive camera with 5K sensor (5120x3840)
                        li.specificsations__li
                            span Resolution 4K (4096x3112), 2K (2048x1556) or HD (1920x1080) 5K, 4K, 2K, HD-SDI 25p ou 50i, SD-SDI 4/3 – 16/9
                        li.specificsations__li
                            span DPX couleur/N&B 10/16 bit (ANSI / SMPTE 268M-2003)
                        li.specificsations__li
                            span Uncompressed AVI
                        li.specificsations__li
                            span Proxy H264
                        li.specificsations__li WAV/BMF
                        li.specificsations__li Bi-phase output, synchronization Genlock input and basic RS422 protocol
                        li.specificsations__li Audio output (2 stereo channel) — SDI embedded (BNC) — AES UER (BNC) — Analog (XLR)

                    h4.specificsations__nameUl Film transport
                    ul.specificsations__ul
                        li.specificsations__li Film capacity: 2,000 feet (600 m)
                        li.specificsations__li Capstan drive system
                        li.specificsations__li Continuous motion servo film drive for constant film tension
                        li.specificsations__li Laser detection
                        li.specificsations__li Shrunken film handling up to 5%
                        li.specificsations__li Cleaning by Particle Transfer Rollers — PTR (option)

                    h4.specificsations__nameUl Workstation
                    ul.specificsations__ul
                        li.specificsations__li The most powerful workstation HP Z series (840) of the last generation
                        li.specificsations__li High performance preconfigured with Microsoft Windows7 — 64 bit — professional
                        li.specificsations__li 16/9 LCD monitor
                        li.specificsations__li PCIe slots for high speed connectivity (Giga Ethernet — fiber channel)
                        li.specificsations__li RAID0 internal storage 12 TB
            .col-4.col-md-12
                    h4.specificsations__nameUl Dimensions
                    ul.specificsations__ul
                        li.specificsations__li Width: 105 cm
                        li.specificsations__li Depth: 71 cm
                        li.specificsations__li Height: 182 cm
                        li.specificsations__li Cratin size: 150x96x230 cm
                        li.specificsations__li Net weight: 300 kg
                        li.specificsations__li Gross weight: 460 kg

                    h4.specificsations__nameUl Operating environment
                    ul.specificsations__ul
                        li.specificsations__li 15°C to 30°C
                        li.specificsations__li 15% to 85% relative humidity non condensing

                    h4.specificsations__nameUl Options for PERENITY 5K
                    ul.specificsations__ul
                        li.specificsations__li.specificsations__li--none OP35 Stereo loudspeakers
                        li.specificsations__li.specificsations__li--none OP320 Optical sound reader mono 16mm COMOPT 16
                        li.specificsations__li.specificsations__li--none OP323 Inverted optical sound reader stereo 35mm COMMOPT 35
                        li.specificsations__li.specificsations__li--none OP328 Magnetic sound reader double track S8 mm COMMAG S8
                        li.specificsations__li.specificsations__li--none OP329 Magnetic sound reader double track 9.5mm COMMAG 9.5
                        li.specificsations__li.specificsations__li--none OP334 Optical sound reader mono 17.5mm COMMOPT 17.5
                        li.specificsations__li.specificsations__li--none OP335 Channel 17.5mm
                        li.specificsations__li.specificsations__li--none OP336 Kit of 2 PTR (for film cleaning)
                        li.specificsations__li.specificsations__li--none OP339 Channel 9.5mm (Pathé)
                        li.specificsations__li.specificsations__li--none OP341 Magnetic sound reader single track 8mm COMMAG 8
                        li.specificsations__li.specificsations__li--none OP342 Magnetic sound reader single track 16mm COMMAG 16
                        li.specificsations__li.specificsations__li--none OP801 Control surface including trackball panel