section.references(id="references" data-seotitle="CTM GROUP Business units" data-seourl="about-us.html" data-seodescription="TM GROUP Business units" data-seokeywords="TM GROUP Business units")
    .container
        .row
            .col-12
                h1.page-title__name.decor-line
                    span.wow.fadeInLeft.animated(data-wow-delay="0.5s") References

                h2.references__title
                    .wow.fadeInLeft.animated(data-wow-delay="0.5s") They trust us


                .references__slider.owl-carousel.wow.fadeInUp.animated(data-wow-delay="0.5s")
                   .references__item
                        img(src='assets/images/content/logotips/1200pxBundesarchivLogosvg.png')
                   .references__item
                        img(src='assets/images/content/logotips/BFI_FF_COL_LOGO_GLOW_LANDSCAPE_POS1.png')
                   .references__item
                        img(src='assets/images/content/logotips/cinematek.png')
                   .references__item
                        img(src='assets/images/content/logotips/CNC.png')
                   .references__item
                        img(src='assets/images/content/logotips/image_preview.png')
                   .references__item
                        img(src='assets/images/content/logotips/cinematek.png')