section.sites-list(id="about-us" data-seotitle="CTM GROUP Business units" data-seourl="about-us.html" data-seodescription="TM GROUP Business units" data-seokeywords="TM GROUP Business units")
    .container
        .row
            .col-12
                h1.page-title__name.decor-line
                    span.wow.fadeInLeft.animated(data-wow-delay="0.5s") About us
    .sites-list__item.sites-list--solution.wow.fadeInUp.animated(data-wow-delay="0.5s")
        .container
            .row
                .col-5.col-md-12
                    .sites-list__photo
                        img(src="assets/images/content/logo-photo.jpg")
                .col-7.col-md-12
                    .sites-list__description
                        span
                            | Les Établissements André Debrie and Pathé are the main inventors and manufacturers of the French professional film equipment.
                            | Since 1898, DEBRIE has been constantly innovating and designing new solutions for film preservation. It has since registered more than 400 patents in France.
                            br
                            br
                            | Today, Debrie offers a complete range of film equipment: inspection and rewinding tables, traditional and digital viewing tables, cleaning machines, restoration equipment and scanners.





