section.team(id="team" data-seotitle="CTM GROUP Business units" data-seourl="production.html" data-seodescription="TM GROUP Business units" data-seokeywords="TM GROUP Business units")
    .container
        .row
            .col-12
                h1.page-title__name.decor-line
                    span.wow.fadeInLeft.animated(data-wow-delay="0.5s") Team

        .row
            .col-4.col-md-12
                .member.wow.fadeInLeft.animated(data-wow-delay="0.5s")
                    .member__img
                        img(src='assets/images/content/team/member-1.png')
                    .member__name
                        span Anastasia Malykh
                    .member__profession
                        span Sales

            .col-4.col-md-12
                .member.wow.fadeInUp.animated(data-wow-delay="0.5s")
                    .member__img
                        img(src='assets/images/content/team/member-2.png')
                    .member__name
                        span Pierre-Loic Courtial
                    .member__profession
                        span Mechanical

            .col-4.col-md-12
                .member.wow.fadeInRight.animated(data-wow-delay="0.5s")
                    .member__img
                        img(src='assets/images/content/team/member-3.png')
                    .member__name
                        span Serge Lazzari
                    .member__profession
                        span Electronics & software