section.video-block(id='events' data-seotitle="We are regular exhibitor" data-seourl="exhibitors.html" data-seodescription="We are regular exhibitor" data-seokeywords="We are regular exhibitor")
    div(id="video-bgr")
    .container
        .row
            .col-12.wow.fadeInLeft.animated(data-wow-delay="0.5s")
                h2.video-block__title.decor-line Events
        .row
            .col-6.col-md-12
                .event
                   .event__logo
                       img(src='assets/images/content/video-block/IBC_logo.png')

                   .event__title FIAF 2017

                   .event__text CTM Film will be present at the annual meeting in Los Angeles from 28 April – 3 May 2017. It will be hosted by the Academy Film Archive and the UCLA Film and Television Archive.

            .col-6.col-md-12
                .event.event2
                    .event__logo
                        img(src='assets/images/content/video-block/IBC_logo2.png')

                    .event__title.event__title--2 IBC 2017

                    .event__text CTM Film welcome you on INTERNATIONAL BROADCASTING CONVENTION, 14th – 18th September, 2017, Amsterdam RAI Exhibition and Convention Centre