<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home - Sitename</title>
    <meta name="author" content="asight.pro">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="description" content="Awesome site">
    <link rel="stylesheet" type="text/css" href="assets/css/main.min.css">
  </head>
  <body>
    <header class="header">
      <div class="header-menu">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <ul>
                <li>
                  <div class="burger"><a href="#">Menu</a><span class="burger__line"></span></div>
                </li>
                <li class="header-menu__item"><a href="#">CTM Group</a></li>
                <li class="header-menu__item"><a href="#">CTM Audio</a></li>
                <li class="header-menu__item"><a href="#">CTM Solutions</a></li>
                <li class="header-menu__item"><a href="#">CTM Location</a></li>
                <li class="header-menu__item"><a href="#">Debrie</a></li>
                <li class="header-menu__item"><a href="#">Ninsight</a></li>
                <li class="select-language"><a class="select-language__en" href="#">en</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="second-menu">
      <div class="container">
        <div class="second-menu__logo"><a><img src="assets/images/icons/logo.png"></a></div>
        <ul class="second-menu__container">
          <li class="second-menu__item"><a href="#">About us</a></li>
          <li class="second-menu__item"><a href="#">Partners</a></li>
          <li class="second-menu__item"><a href="#">Activities</a></li>
          <li class="second-menu__item"><a href="#">Exhibitors</a></li>
          <li class="second-menu__item"><a href="#">Contact us</a></li>
        </ul>
      </div>
    </div>
    <footer class="footer">Copyright 2017</footer>
    <script src="assets/js/modernizr.custom.28468.min.js"></script>
    <script src="assets/js/jquery-1.7.1.min.js"></script>
    <script src="assets/js/jquery.cslider.min.js"></script>
    <script src="assets/js/main.min.js"></script>
  </body>
</html>