include ../config
block config

doctype html
html(lang= lang)

	include head

	body

		include header

		include ../components/drop-menu

		block content

		include footer


		script(src="assets/js/modernizr.custom.28468.min.js")
		script(src="assets/js/jquery-3.2.1.min.js")
		script(src="assets/js/jquery.animate-slider.min.js")
		script(src="assets/js/owl.carousel.min.js")
		script(src="assets/js/jquery.mb.YTPlayer.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABV76H92h8Q6zm6UGnce_ISiZ4ddl3Jbc")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js")
		script(src="assets/js/landing-seo.min.js")
		script(src="assets/js/wow.min.js")
		script(src="assets/js/map.min.js")
		script(src="assets/js/main.min.js")