footer.footer
    .container
        .row
            .col-6.footer__left.
                Copyright © 2017 CTM Solutions. All right reserved.
            .col-6.footer__right
                a(href='#') Designed by Asight