head
	meta(charset='utf-8')
	title= title
	meta(name='author', content= author )
	meta(name='viewport', content='width=device-width, user-scalable=no')
	meta(name='description', content= metaDesc )
	link(rel="apple-touch-icon" sizes="120x120" href="assets/images/favicons/apple-touch-icon.png")
	link(rel="icon" type="image/png" sizes="32x32" href="assets/images/favicons/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="assets/images/favicons/favicon-16x16.png")
	link(rel="manifest" href="assets/images/favicons/manifest.json")
	link(rel="shortcut icon" href="assets/images/favicons/favicon.ico")
	link(name="msapplication-config" content="assets/images/favicons/browserconfig.xml")
	link(name="theme-color" content="#ffffff")
	link(rel='stylesheet', type='text/css', href='assets/css/main.min.css')