extends ../layout/base

append config
	- var pageTitle = 'Home page'

block content
	main
		include ../components/main-slider

		include ../components/sites-list

		include ../components/production-scaner

		include ../components/production-specifications

		include ../components/production-table

		include ../components/production-specifications-2

		include ../components/products

		include ../components/references
		include ../components/video-block
		include ../components/team

		include ../components/worldwide-presence

		include ../components/contacts-us



		section.map(id="map")